teemip-framework/doc/design.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="https://rudnerbjoern.github.io/iTop-schema/3.2/itop_design.xsd"/>

    <!-- ########################### AttributeAliasList ########################### -->
    <xs:complexType name="AttributeAliasList">
        <xs:complexContent>
            <xs:extension base="AttributeText"/>
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /AttributeAliasList ########################### -->

    <!-- ########################### AttributeClassWithIP ########################### -->
    <xs:complexType name="AttributeClassWithIP">
        <xs:complexContent>
            <xs:extension base="AttributeDefinition">
                <xs:all>
                    <xs:element name="sql" type="alteredString" minOccurs="0"/>
                    <xs:element name="default_value" type="alteredString" minOccurs="0"/>
                    <xs:element name="is_null_allowed" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="validation_pattern" type="alteredString" minOccurs="0"/>
                    <xs:element name="tracking_level" type="trackingLevelEnumeration" minOccurs="0"/>
                    <xs:element name="always_load_in_tables" type="xs:boolean" minOccurs="0" default="false"/>
                    <xs:element name="dependencies" type="dependenciesType" minOccurs="0"/>
                    <xs:element name="display_style" type="displayStyleEnumeration" minOccurs="0"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /AttributeClassWithIP ########################### -->

    <!-- ########################### AttributeDomainName ########################### -->
    <xs:complexType name="AttributeDomainName">
        <xs:complexContent>
            <xs:extension base="AttributeString"/>
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /AttributeDomainName ########################### -->

    <!-- ########################### AttributeHostName ########################### -->
    <xs:complexType name="AttributeHostName">
        <xs:complexContent>
            <xs:extension base="AttributeString"/>
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /AttributeHostName ########################### -->

    <!-- ########################### AttributeIPFieldInClass ########################### -->
    <xs:complexType name="AttributeIPFieldInClass">
        <xs:complexContent>
            <xs:extension base="AttributeDefinition">
                <xs:all>
                    <xs:element name="sql" type="alteredString" minOccurs="0"/>
                    <xs:element name="default_value" type="alteredString" minOccurs="0"/>
                    <xs:element name="is_null_allowed" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="validation_pattern" type="alteredString" minOccurs="0"/>
                    <xs:element name="tracking_level" type="trackingLevelEnumeration" minOccurs="0"/>
                    <xs:element name="always_load_in_tables" type="xs:boolean" minOccurs="0" default="false"/>
                    <xs:element name="dependencies" type="dependenciesType" minOccurs="0"/>
                    <xs:element name="display_style" type="displayStyleEnumeration" minOccurs="0"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /AttributeIPFieldInClass ########################### -->

    <!-- ########################### AttributeIPPercentage ########################### -->
    <xs:complexType name="AttributeIPPercentage">
        <xs:complexContent>
            <xs:extension base="AttributeInteger"/>
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /AttributeIPPercentage ########################### -->

    <!-- ########################### AttributeMacAddress ########################### -->
    <xs:complexType name="AttributeMacAddress">
        <xs:complexContent>
            <xs:extension base="AttributeString"/>
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /AttributeMacAddress ########################### -->

    <!-- ########################### DashletBadgeFiltered ########################### -->
    <xs:complexType name="DashletBadgeFiltered">
        <xs:complexContent>
            <xs:extension base="Dashlet">
                <xs:all>
                    <xs:element name="rank" type="alteredFloat" minOccurs="0"/>
                    <xs:element name="title" type="alteredString" minOccurs="0"/>
                    <xs:element name="query" type="alteredString" minOccurs="0"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /DashletBadgeFiltered ########################### -->

</xs:schema>
